{% extends 'base.html' %}

{% block content %}


{% if not request.user.is_authenticated %}

    <div style="margin-top: 39px;">
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">register</button>
        </form>
        <p>already have an account? <a href="/login">login</a></p>
    </div>


{% else %}
<p>you are already logged in and cannot register would you like to <a href="/logout/">logout</a>?</p>
{% endif %}

{% endblock content %}
    
